<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/user/submitforthgradefinaltoedit" >

Math: <input type="text" name="math">
Arabic: <input type="text" name="arabic">
Islamic: <input type="text" name="islamic">
National: <input type="text" name="national">
History: <input type="text" name="history">
Science: <input type="text" name="science">
<input type="submit" value="Submit">
</form>
<a href="/user/studentslist">back</a>
</body>
</html>