<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="js/jquery-3.2.1.js" type="text/javascript"></script>
<script src="/js/form.js" type="text/javascript"></script>
</head>
<body>
<table>
<tr th:object="${student}">
<td th:text="*{id}"></td>
<td th:text="*{name}"></td>
<td th:text="*{academic}"></td>
</tr>
<tr>
<td><a th:href="@{/user/searchback/{id}(id=${student.id})}">Back</a></td>
</tr>
</table>
<h3>Final Result</h3>
<form action="/user/updatefirstgradefinalresult" th:object="${term}" onSubmit="return valid()">
Math: <input type="text" th:field="*{math}" name="math" id="math">
Arabic <input type="text" th:field="*{arabic}" name="arabic" id="arabic">
Islamic: <input type="text" th:field="*{islamic}" name="islamic" id="islamic">
<input type="submit" value="Submit">
</form>

</body>
</html>