<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>set student password</h3>
<form action="/user/submitstudentpassword" th:object="${student}" method="post">
<input type="hidden" th:field="*{id}">
<span th:text="*{id}"></span>
<span th:text="*{name}"></span>
<span th:text="*{academic}"></span>
<input type="submit" value="Confirm">
<a th:href="@{/user/deleteadding/{id}(id=${student.id})}">إلغاء</a>
</form>
</body>
</html>