<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<h3>Transferring students</h3>
<body>
<a th:href="@{/studenttransfer/{id}(id='First Grade')}">FirstGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Second Grade')}">SecondGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Third Grade')}">ThirdGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Forth Grade')}">ForthGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Fifth Grade')}">FifthGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Sixth Grade')}">SixthGrade</a>
<a th:href="@{/studenttransfer/{id}(id='Seventh Grade')}">SeventhGrade</a>
</body>
</html>