<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<p><span th:text="${userid}"></span></p>
<a href="/user/addstudent">add</a>
<a href="/user/studentslist">Edit</a>
<a href="/user/search">searchByName</a>
<a href="/user/searchbyid">searchById</a>
<a href="/user/studentsbyacademic">StudentsByAcademic</a>
<a href="/user/studentrecord">StudentRecord</a>
<a href="/user/archive">Archive</a>
<a href="/user/listall">listAllStudents</a>
<a href="/user/graduate">Graduates</a>
<a href="/logout">logout</a>

</body>
</html>